<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nightlynexus.viewstatepageradaptersample">

  <application
      android:label="@string/label_application"
      android:allowBackup="true"
      android:fullBackupContent="true"
      android:supportsRtl="true"
      tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon">

    <activity android:name=".ViewPagerActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
